textarea{

}
.todos-actions-bar_counter{

}
    .todos-actions-bar_counter{
        margin: 16px 116px 0 12px;
        float: left;
        display: block;
        color: #888888;
    }

    .todos-filters{
        margin-left: auto;
        width: 448px;
        height: 40px;
        border: none;
        color: #888888;
    }

    .todos-filter_all{
        position: relative;
        margin: 11px 12px 0 0;
        background: none;
        border-radius: 15%;
        cursor: pointer;
        border: none;
        -webkit-animation: none;
        -webkit-appearance: none;
    }


    .todos-filter_active{
        position: relative;
        margin: 11px 12px 0 0;
        background: none;
        border-radius: 15%;
        cursor: pointer;
        border: none;
        -webkit-animation: none;
        -webkit-appearance: none;
    }

    .todos-filter_completed{
        position: relative;
        margin: 11px 46px 0 0;
        background: none;
        border-radius: 15%;
        cursor: pointer;
        border: none;
        -webkit-animation: none;
        -webkit-appearance: none;
    }

    .todos-actions-bar_clear-completed{
        position: left;
        margin: 11px 11px 0 0;
        background: none;
        border-radius: 15%;
        cursor: pointer;
        border: none;
        -webkit-animation: none;
        -webkit-appearance: none;
    }