.todo-item {
        margin: 0;
        border-bottom: 1px solid #e6e6e6;
    }

    .todo-item:first-child{
        border-top: 1px solid #e6e6e6;
    }

    .todo-item_ready-mark-w{
            width: 64px;
            height: 64px;
            background: none;
            border: none;
            padding: 0;
            margin: 0;

            float: left;

            position: relative;
        }
        .todo-item_ready-mark{
            background: #ffffff;
            border: 1px solid #d6d6d6;
            position: absolute;
            margin: 14px;
            width: 36px;
            height: 36px;
            border-radius: 36px;
            -webkit-appearance: none;
            cursor: pointer;
        }

        .todo-item_ready-mark:checked{
            border: 1px solid #65c5b3;
            position: absolute;
            background: url('../../img/icons/completed.png') no-repeat;
            cursor: pointer;
            background-position: center;
        }

        .todo-item_text{
            cursor: pointer;
            overflow: hidden;
            border: 0;
            background: none;
            width: 77%;
            height: 40px;
            font-size: 24px;
            font-weight: 200;
            text-align: left;
            color: #666666;
            outline: none;
            padding-right: 20px;
            padding-top: 20px;
            resize: none;

        }

        .todo-item_remove{
            cursor: pointer;
            position: absolute;
            width: 41px;
            height: 64px;
            margin: 0;
            border: none;
            background: none;
        }

        .todo-item:hover{
            background-color: #fafafa;
        }

        .todo-item:hover .todo-item_remove{
            background: url('../../img/icons/close.png') no-repeat;
            background-size: 18px 18px ;
            background-position: center;
        }

        .todo-item_ready-mark:checked .todo-item_text{
            text-decoration: line-through;
        }